@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html {
  min-height: 100%;
  font-family: "Varela Round", sans-serif;
}
body {
  min-height: 100%;
  background-image: linear-gradient(to top left, #17AB97, #199EE1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 1rem;
}
header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-size: 2rem;
  position: sticky;
  top: 0;
  background-color: white;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  box-shadow: 0 0 0.5rem;
  z-index: 2;
}
#shop {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.product {
  transition: all 0.5s ease;
  box-shadow: 0 0 0.5rem;
  border-radius: 1.25rem;
  padding: 1rem;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
.product:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0.75rem;
}
button {
  background-color: black;
  color: #fff;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  transition: all 0.2s ease;
}
button:active {
  scale: 0.9;
}
#cart {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem;
}
#cart h2 {
  margin-top: 0;
}
#cart-items{
  margin-bottom: 0.5rem;
  width: 100%;
  display: none;
}
.quantity-input {
  width: 3rem;
  margin: 0 0.5rem;
}
.remove-button {
  margin: 0.25rem;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 99rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
}
.remove-button:hover {
  scale: 1.05;
}
input {
  font-family: "Varela Round", sans-serif;
}
tbody {
  font-weight: bolder;
}
thead {
  color: #BBBBBB;
}
#search {
  width: 100%;
  border-radius: 2rem;
  padding-left: 0.75rem;
  font-size: 1rem;
}
select {
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;
  border-radius: 2rem;
  text-align: center;
}
.smolimage:hover {
  border: 0.2rem solid;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
#logo {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  height: 3rem;
  box-shadow: 0 0 0.5rem;
}
.blur-bg > *:not(#langchoose) {
  filter: blur(0.5rem);
}
#langchoose {
  position: fixed;
  bottom: 50%;
  right: 50%;
  background-color: white;
  padding: 1rem;
  font-size: 2rem;
  transform: translate(50%, 50%);
  z-index: 4;
  border-radius: 1.25rem;
  box-shadow: 0 0 0.5rem;
  text-align: right;
}
footer {
  background-color: white;
  box-shadow: 0 0 0.5rem;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.hover:hover {
  color: #199EE1;
  transition: all 0.5s ease;
}
.scaleonhover:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}